/target
/data base
*.bin
aria_model.json
aria_dialogs.json
aria_tokenizer.json
data base/DataBase.txt
/data base
aria_dialogs.json
aria_tokenizer.json
Math_Learn/phase2_test.jsonl
Math_Learn/phase1_train.jsonl
Math_Learn/phase1_test.jsonl
Math_Learn/phase2_train.jsonl
*.log
aria_dialogs.json
tokenizer_analysis.txt
validation_log.txt
tokenizer_sample.txt
aria_checkpoint.json
/logs
/screenshots
